<!DOCTYPE HTML>
<html>
    <header>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <div id="horizontal">
            <a href="/home"><img class='logo' src = "/images/logo-mercado-liebre.svg"></a>
            <div class="header-barra-de-busqueda">
                <input class="header-barra-de-busqueda-input" type="text" placeholder="Buscar productos, marcas y más"> 
                <i class="fas fa-search"></i>
            </div>
            <h3 class='title-size'><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h3></div>        
        <nav class='oculto'>
            <div class='navbar'><ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>                
                <li>Vender</li>
                <li>Ayuda</li>
            </ul></div>
            <div class='navbar'><ul>
                <li><a href='/crear-cuenta'>Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href='/login'>Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href='/mis-compras'>Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul></div>
        </nav>
        <div class="burger-menu"> <i class="fas fa-bars"></i> </div>
    </header>
    <main>
        <img class='banner' src="/images/img-home-banner.jpg" alt="banner">
        <form action="/home" method="GET">
            <div class='formulario-login'>
                <div>
                    <input type="text" id="usuario" minlength="8" placeholder='Nombre de usuario' required>
                </div>
                <div>
                    <input type="password" id="pass" placeholder='Contraseña' required>
                </div>
                <div class="boton-login-div">
                    <a href="/home" required><button type="submit" class='boton-login'>Enviar</button></a>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <div class="lista-footer">
            <div class='lista-footer-opcion'>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class='lista-footer-opcion'>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class='lista-footer-opcion'>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <div class='footer-copy'>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</html>